<!DOCTYPE HTML>
<html>
<head>
  <title>Timeline</title>
  <meta name="viewport" content="width=device-width, initial-scale=1 shrink-to-fit=no">
  <link href="../../../css/vis.css" rel="stylesheet" type="text/css" />
  <link href="../../../css/styles.css" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Lato" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
  <script src="../../../js/vis.js"></script>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

</head>
<body>
  <nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="http://localhost:3000/">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Team Timeline</li>
  </ol>
</nav>
<h2 id="title-page"><strong>Group 1</strong></h2>
<div id="timelines"></div>
<div id="loading">loading...</div>
<script type="text/javascript">
	var current_url = window.location.href;
	var id_session = parseInt(current_url.split("/").slice(-1));
	var containers = [];
	wrapper = document.getElementById('timelines'); 

	
  // load data via an ajax request. When the data is in, load the timeline
  $.ajax({
    url: 'http://localhost:3000/api/v1/visualisations/getJsonFromFile',
    data: {'id':id_session},
    success: function (data) {
      // hide the "loading..." message
      
      document.getElementById("title-page").innerHTML = data.title;
      document.getElementById('loading').style.display = 'none';
      var critical_times = [];


      var participants = Object.keys(data.participants).sort();
      console.log(participants);
      


      //create containers for each timeline
      for(var i=1;i<=data.n;i++){
        container = document.createElement('div');
        container.setAttribute("id", "visualization"+i);
        wrapper.appendChild(container);
        }

                // Get DOM elements where the Timeline will be attached
                for(var i=0;i<data.n;i++){
                  containers[i] = document.getElementById('visualization'+(i+1));
                }
                //create groups
                var groups = [];
                for(var i=0;i<data.n;i++){
                  groups[i] = new vis.DataSet([
                    {id:data.participants[participants[i]][0].group, content:participants[i], classname:participants[i]}]);
                  console.log(groups[i]);
                }

                var items = [];
                for(var i=0;i<data.n;i++){
                  items[i] = new vis.DataSet(data.participants[participants[i]]);
                  console.log(items[i]);
                }

                //console.log(items);

                // Configuration for the Timeline
                var opt = {
                  start: data.time_start,
                  end: data.time_end,
                  //timeAxis: {scale: 'seconds', step: 30},
                  //groupOrder: 'content',  // groupOrder can be a property name or a sorting function
                  zoomable: false,
                  showMajorLabels: false,
                  //showMinorLabels: false,
                };

              //Create timelines
              for(var i=0;i<data.n;i++){
                var timeline = new vis.Timeline(containers[i]);
                timeline.setOptions(opt);
                timeline.setGroups(groups[i]);
                timeline.setItems(items[i]);


                for(var j=0;j<data.criticalTs.length;j++){
                	timeline.addCustomTime(data.criticalTs[j].when, 't'+(j+1));
                }
                
                timeline.fit();
              }

              var timeAxisElements = document.getElementsByClassName("vis-text vis-minor");
			  ////console.log(timeAxisElements);
			  for (var i = 0; i < timeAxisElements.length; i++) {
			    //if(timeAxisElements[i].textContent != "00:00" && timeAxisElements[i].textContent != "00:14" ){
			      timeAxisElements[i].style.color = "white";
			    //}
			  }

			  for(var i = 1; i <= data.n; i++){
			  	//console.log('visualization'+i);
			  	var div_cpr = document.getElementById('visualization'+i).querySelectorAll(".cpr");
			  	if(div_cpr.length > 0){
			  		var foreground = document.getElementById('visualization'+i).querySelectorAll(".vis-foreground")[0].firstChild;
			  		////console.log(top);
			  		//iterate over cpr node childs
			  		for (var j = 0; j < div_cpr.length; j++) {
			  		//clone node
			  		var cln = div_cpr[j].cloneNode(true);

			  		//get element where the content is
			  		var content = cln.querySelector(".vis-item-content");
			  		content.innerHTML = "";
			  		//add a class
			  		cln.classList.remove("cpr");
			  		cln.classList.add("cpr-axis");

			  		//get axis node
			  		var axis = document.getElementById('visualization'+i).querySelectorAll(".vis-axis")[0].firstChild;
			  		//console.log(axis);

			  		axis.appendChild(cln);
			  		}
			  	}
			  	//console.log(cln);
			  }
			  ////console.log(x);
    },
    error: function (err) {
      //console.log('Error', err);
      if (err.status === 0) {
        alert('Failed to load data/basic.json.\nPlease run this example on a server.');
      }
      else {
        alert('Failed to load data/basic.json.');
      }
    }
  });

  jQuery(function($){
  var windowWidth = $(window).width();
  var windowHeight = $(window).height();

  $(window).resize(function() {
    if(windowWidth != $(window).width() || windowHeight != $(window).height()) {
      location.reload();
      return;
    }
  });
});
</script>
</body>

<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.min.js"></script>

  <!-- external file containing json object for data -->

</html>